.body {
  background-color: rgb(255, 255, 255);
  font-family: Helvetica;
}

.main {
  width: 80%;
  margin: auto;
  background-color: rgb(255, 255, 255);
}

.header {
  margin-top: 0;
  border: 2px solid black;
  padding: 5px;
  height: 250px;
  background: rgb(27, 0, 5);
  color: rgb(252, 252, 252);
  font-weight: 100;
}

.form1 {
  padding-bottom: 50px;
}

.label {
  display: block;
  font-size: larger;
  color: black;
  justify-items: center;
}

input {
  width: 30px;
  margin-left: 20px;
}

button {
  width: 100px;
  margin-top: 40px;
  font-size: "10px";
  color: white;
  width: "30px";
}
input {
  color: "black";
}

p {
  font-size: larger;
  margin-top: 40px;
}
