.app-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1rem;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 1px solid #ffffff;
  text-align: left;
  padding: 8px;
  font-size: 32px;
}

th {
  color:white;
  background-color: rgb(14,64,94);
}

td {
  background-color: rgb(231, 244, 252);
}


form {
  display: flex;
  gap: 5px;
}

form td:last-child {
  display: flex;
  justify-content: space-evenly;
}

.hello {
  font-size: 28px;
  width: 100%;
  margin-top: 2%;
  margin-bottom: 2%;
}

.i {
  width: 20%;
  height: 100%;
}

button {
  width: 15%;
  margin-left: 43%;
  background-color: rgb(248, 248, 248);
  font-size: 40px;
}

.h {
  color:white;
  margin-top: 50px;
  margin-left: 46%;
  font-size: 40px;
}
