.app-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1rem;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 1px solid #ffffff;
  text-align: left;
  padding: 8px;
  font-size: 32px;
}

th {
  background-color: rgb(117, 201, 250);
}

td {
  background-color: rgb(205, 235, 253);
}

form {
  display: flex;
  gap: 5px;
}

form td:last-child {
  display: flex;
  justify-content: space-evenly;
}

.hello {
  font-size: 28px;
  width: 100%;
  margin-top: 2%;
  margin-bottom: 2%;
}

.i {
  width: 50%;
  height: 50%;
}

button {
  width: 15%;
  margin-left: 43%;
  background-color: black;
  font-size: 40px;
}

.h {
  margin-top: 50px;
  margin-left: 46%;
  font-size: 40px;
}
