.body {
  background-color: rgb(48, 49, 49);
  font-family: Helvetica;
}

#main {
  width: 80%;
  max-width: 950px;
  margin: auto;
  padding: 30px 30px;
  background-color: white;
}

.header {
  margin-top: 0;
  padding: 5px;
  height: 250px;
  background: linear-gradient(to bottom, black, black, rgb(255, 255, 255));
  color: white;

  font-weight: 100;
}

.form1 {
  padding-bottom: 50px;
}

label {
  display: block;
  font-size: larger;
  color: black;
}

input {
  width: 30px;
  margin-left: 20px;
}

button {
  width: 100px;
  margin-top: 40px;
  font-size: larger;
}

p {
  font-size: larger;
  margin-top: 40px;
}
