.row-header {
  background-color: #cc1940;
  margin: 0px auto;
  padding: 0px auto;
}

.row-content {
  background-color: #c4c5e9;
  margin: 0px auto;
  padding: 50px 0px 50px 0px;
  border-bottom: 1px ridge;
  min-height: 400px;
}

.footer {
  background-color: #0e0d0d;
  margin: auto;
  padding: 30px 0px 30px 0px;
  color: white;
  position: relative;
  object-fit: cover;
}

address {
  color: #ffffff;
}
.coyright {
  justify-content: right;
  text-align: right;
}
ul {
  padding: 20px 0px 20px 0px;
}
.photo {
  font-size: 100%;
  margin: 10px;
  color: #0f0f0f;
  height: 400px;
  width: 400px;
  justify-content: space-evenly;
}
.navbarbg {
  font-family: "Arial", italic, sans-serif;
  padding: 0 10px;
  color: #ffffff;
  background-color: #0e0d0d;
  font-size: 25px;
  margin: 0px;
}

.container-fluid {
  display: flex;
  overflow-x: auto;
  width: 100%;
  height: 300px;
}

.navbar-brand {
  padding: 0 10px;
  font-family: "times", italic, rgb(255, 255, 255);
  font-size: 30px;
  margin: 0px;
}

.col-auto {
  color: white;
}

.page-enter {
  opacity: 0.01;
  transform: translateX(-100%);
}

.page-enter-active {
  opacity: 1;
  transform: translateX(0%);
  transition: all 300ms ease-in;
}

.page-exit {
  opacity: 1;
  transform: translateX(0%);
}

.page-exit-active {
  opacity: 0.01;
  transform: translateX(100%);
  transition: all 300ms ease-out;
}
.container-fluid {
  background-image: "assets/photo2.jpg";
}
.center {
  color: white;
  
  padding: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* .dropdown-item * {
  display: block;
  width: 100%;
  clear: both;
  font-weight: 400;
  color: #212529;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
  font-size: 30px;
  margin-left: -50%;
} */
